<h1>User Information</h1>


<sky-row>
  <sky-column
    screenSmall="1"
  >
  </sky-column>
  <sky-column
    screenSmall="10"
  >
<div style="width: 100%">
  <sky-toolbar>
    <sky-toolbar-item>
      <button class="sky-btn sky-btn-primary" id="edit-btn" (click)="openModal()">
        Edit
      </button>
    </sky-toolbar-item>
    <sky-toolbar-item>
      <sky-search [searchText]="searchText" [debounceTime]="250" (searchApply)="searchApplied($event)" (searchChange)="searchApplied($event)" (searchClear)="searchApplied($event)">
      </sky-search>
    </sky-toolbar-item>
  </sky-toolbar>
  <sky-ag-grid-wrapper>
    <ag-grid-angular [gridOptions]="gridOptions" [rowData]="gridData">
    </ag-grid-angular>
  </sky-ag-grid-wrapper>
</div>
</sky-column>
  <sky-column screenSmall="1">
  </sky-column>
</sky-row>
